name : "my workflow with github action"
on:
  push:
    branches: ["main"]


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13.9]
    steps:
      - uses: actions/checkout@v2
        name: Setup repository
      - uses: actions/setup-python@v4
        name: python installation
        with:
          python-version: ${{matrix.python-version}}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          

